.hyperspeed-root {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hyperspeed-root canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

